<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ Desc }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.custom.css?{{ commit_id }}">
        <title>{{ Title }}</title>
        <style>
            h1,h2,h3,h4,h5,h6 {
                margin-top: 1rem;
                margin-bottom: .5rem;
                width: 100%;
                border-bottom: 2px solid #D5D5D5;
            }
        </style>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand text-center" href="/">Laddge's Memo</a>
            </div>
        </nav>
        <main class="flex-row mb-auto">
