@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/notosansjp-medium.woff") format("woff");
}

@font-face {
    font-family: "M PLUS 2";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/mplus2-bold.woff") format("woff");
}
